body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Source Code Pro", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=010101&c2=274ea1&gt=l&gd=dbr
*/
  background-color: rgba(2, 40, 109, 1);
  background-image: linear-gradient(
    131deg,
    rgb(27, 34, 46) 0%,
    rgba(0, 4, 8, 1) 100%
  );
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
